{% extends 'layout.html' %}

{% block title %}
    Fix-Support Beam - 1
{% endblock %}

{% block main %}


<h3>Fixed at One End & Supported at the Other End</h3>
<h4>Uniformly Distributed Load</h4>

<img src="/static/Image1-15.jpg" alt="Avatar" class="image2" width="300" height="400" display="inline-block">

<br><br>

<form>

    <label for="w" class="inlinelabel">w=</label>
    <input autofocus class="calc1" name="w" id="w" type="number">
    <label for="w" class="inlinelabel">lb/ft</label>

    <br><br>

    <label for="l" class="inlinelabel">l=</label>
    <input class="calc1" name="l" id="l" type="number">
    <label for="l" class="inlinelabel">ft</label>

    <br><br>

    <label for="x" class="inlinelabel">x=</label>
    <input class="calc1" name="x" id="x" type="number">
    <label for="x" class="inlinelabel">ft</label>

    <br><br>

    <label for="E" class="inlinelabel">E=</label>
    <input class="calc1" name="E" id="E" type="number">
    <label for="E" class="inlinelabel">psi</label>

    <br><br>

    <label for="I" class="inlinelabel">I=</label>
    <input class="calc1" name="I" id="I" type="number">
    <label for="I" class="inlinelabel">in^4</label>

    <br><br>

    <input type="button" onclick="calc_1()" value="Calculate">

    <br><br>

    <p id="solution1"></p>
    <p id="solution2"></p>
    <p id="solution3"></p>
    <p id="solution4"></p>
    <p id="solution5"></p>
    <p id="solution6"></p>
    <p id="solution7"></p>
    <p id="solution8"></p>

</form>

<script>
    // Pull values from user text input and calculate
    function calc_1() {
        var w=document.getElementById("w").value;
        var l=document.getElementById("l").value;
        var x=document.getElementById("x").value;
        var E=document.getElementById("E").value;
        var I=document.getElementById("I").value;

        var v_1=(3*w*l)/8;
        var V_1=v_1.toFixed(2);

        var v_2=(5*w*l)/8;
        var V_2=v_2.toFixed(2);

        var v_x=v_1-(w*x);
        var V_x=v_x.toFixed(2);

        var m_max=(w*(Math.pow(l, 2)))/8;
        var M_max=m_max.toFixed(2);

        var m_1=(9/128)*(w*Math.pow(l, 2));
        var M_1=m_1.toFixed(2);

        var m_x=(v_1*x)-((w*Math.pow(x, 2))/2);
        var M_x=m_x.toFixed(2);

        var D_max=((w/12)*Math.pow((l*12), 4))/(185*E*I);
        var Delta_max=D_max.toFixed(2);

        var D_x=((w*x)/(48*E*I))*((Math.pow((l*12), 3))-(3*l*12*Math.pow((x*12), 2))+(2*Math.pow((x*12), 3)));
        var Delta_x=D_x.toFixed(2);

        // Display Calculation Results
        document.getElementById("solution1").innerHTML = "Shear (V1) = " + V_1 + " lbs";
        document.getElementById("solution2").innerHTML = "Shear (V2) = " + V_2 + " lbs";
        document.getElementById("solution3").innerHTML = "Shear at x = " + V_x + " lbs";
        document.getElementById("solution4").innerHTML = "Max Moment = " + M_max + " lb*ft";
        document.getElementById("solution5").innerHTML = "Moment (M1) = " + M_1 + " lb*ft";
        document.getElementById("solution5").innerHTML = "Moment at x = " + M_x + " lb*ft";
        document.getElementById("solution6").innerHTML = "Max Deflection = " + Delta_max + " in";
        document.getElementById("solution7").innerHTML = "Deflection at x = " + Delta_x + " in";
    }
</script>


{% endblock %}
