{% extends 'layout.html' %}

{% block title %}
    Fixed - 2
{% endblock %}

{% block main %}


<h3>Beam Fixed at Both Ends</h3>
<h4>Concentrated Load at Center</h4>

<img src="/static/Image1-24.jpg" alt="Avatar" class="image2" width="300" height="400" display="inline-block">

<br><br>

<form>

    <label for="P" class="inlinelabel">P=</label>
    <input autofocus class="calc1" name="P" id="P" type="number">
    <label for="P" class="inlinelabel">lb</label>

    <br><br>

    <label for="l" class="inlinelabel">l=</label>
    <input class="calc1" name="l" id="l" type="number">
    <label for="l" class="inlinelabel">ft</label>

    <br><br>

    <label for="x" class="inlinelabel">x=</label>
    <input class="calc1" name="x" id="x" type="number">
    <label for="x" class="inlinelabel">ft</label>

    <br><br>

    <label for="E" class="inlinelabel">E=</label>
    <input class="calc1" name="E" id="E" type="number">
    <label for="E" class="inlinelabel">psi</label>

    <br><br>

    <label for="I" class="inlinelabel">I=</label>
    <input class="calc1" name="I" id="I" type="number">
    <label for="I" class="inlinelabel">in^4</label>

    <br><br>

    <input type="button" onclick="calc_1()" value="Calculate">

    <br><br>

    <p id="solution1"></p>
    <p id="solution2"></p>
    <p id="solution3"></p>
    <p id="solution4"></p>
    <p id="solution5"></p>

</form>

<script>
    // Pull values from user text input and calculate
    function calc_1() {
        var P=document.getElementById("P").value;
        var l=document.getElementById("l").value;
        var x=document.getElementById("x").value;
        var E=document.getElementById("E").value;
        var I=document.getElementById("I").value;

        var v=(P/2);
        var V=v.toFixed(2);

        var m_max=(P*l)/8;
        var M_max=m_max.toFixed(2);

        var m_x=(P/8)*((4*x)-l);
        var M_x=m_x.toFixed(2);

        var d_max=((P*Math.pow((l*12), 3))/(192*E*I));
        var D_max=d_max.toFixed(2);

        var d_x=((P*Math.pow((x*12), 2))/(48*E*I))*((3*l*12)-(4*x*12));
        var D_x=d_x.toFixed(2);

        // Display Calculation Results
        document.getElementById("solution1").innerHTML = "Shear (V) = " + V + " lbs";
        document.getElementById("solution2").innerHTML = "Max Moment (at center and ends) = " + M_max + " lb*ft";
        document.getElementById("solution3").innerHTML = "Moment at x = " + M_x + " lb*ft";
        document.getElementById("solution4").innerHTML = "Max Deflection (at center) = " + D_max + " in";
        document.getElementById("solution5").innerHTML = "Deflection at x " + D_x + " in";
    }
</script>


{% endblock %}