{% extends 'layout.html' %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<br>
<h3>STRUCTURAL ANALYSIS</h3>
<h4>Shear, Moment, & Deflection Calculator</h4>
<img src="/static/bridge5.jpg" alt="Avatar" class="image2" width="600" height="400" display="inline-block">
<br><br>
<text>The shear, moment, and deflection will be calculated as provided by the American Institue of Steel Construction (AISC)</text>
<br>
<text>manual for each structural scenario.The different structural scenarios have been sorted by the various beam conditions</text>
<br>
<text>that can be found on the navigation bar to the left.</text>

{% endblock %}