{% extends 'layout.html' %}

{% block title %}
    Overhanging Beams - 4
{% endblock %}

{% block main %}


<h3>Overhanging Beams</h3>
<h4>Concentrated Load at Any Point Between Supports</h4>

<img src="/static/Image1-21.jpg" alt="Avatar" class="image2" width="300" height="400" display="inline-block">

<br><br>

<form>

    <label for="P" class="inlinelabel">P=</label>
    <input autofocus class="calc1" name="P" id="P" type="number">
    <label for="P" class="inlinelabel">lb</label>

    <br><br>

    <label for="l" class="inlinelabel">l=</label>
    <input class="calc1" name="l" id="l" type="number">
    <label for="l" class="inlinelabel">ft</label>

    <br><br>

    <label for="a" class="inlinelabel">a=</label>
    <input class="calc1" name="a" id="a" type="number">
    <label for="a" class="inlinelabel">ft</label>

    <br><br>

    <label for="b" class="inlinelabel">b=</label>
    <input class="calc1" name="b" id="b" type="number">
    <label for="b" class="inlinelabel">ft</label>

    <br><br>

    <label for="x" class="inlinelabel">x=</label>
    <input class="calc1" name="x" id="x" type="number">
    <label for="x" class="inlinelabel">ft</label>

    <br><br>

    <label for="x_1" class="inlinelabel">x_1=</label>
    <input class="calc1" name="x_1" id="x_1" type="number">
    <label for="x_1" class="inlinelabel">ft</label>

    <br><br>

    <label for="E" class="inlinelabel">E=</label>
    <input class="calc1" name="E" id="E" type="number">
    <label for="E" class="inlinelabel">psi</label>

    <br><br>

    <label for="I" class="inlinelabel">I=</label>
    <input class="calc1" name="I" id="I" type="number">
    <label for="I" class="inlinelabel">in^4</label>

    <br><br>

    <input type="button" onclick="calc_1()" value="Calculate">

    <br><br>

    <p id="solution1"></p>
    <p id="solution2"></p>
    <p id="solution3"></p>
    <p id="solution4"></p>
    <p id="solution5"></p>
    <p id="solution6"></p>
    <p id="solution7"></p>
    <p id="solution8"></p>
    <p id="solution9"></p>

</form>

<script>
    // Pull values from user text input and calculate
    function calc_1() {
        var P=document.getElementById("P").value;
        var l=document.getElementById("l").value;
        var a=document.getElementById("a").value;
        var b=document.getElementById("b").value;
        var x=document.getElementById("x").value;
        var x_1=document.getElementById("x_1").value;
        var E=document.getElementById("E").value;
        var I=document.getElementById("I").value;

        var v_1=(P*b)/l;
        var V_1=v_1.toFixed(2);

        var v_2=(P*a)/l;
        var V_2=v_2.toFixed(2);

        var m_max=(P*a*b)/l;
        var M_max=m_max.toFixed(2);

        var m_x=(P*b*x)/l;
        var M_x=m_x.toFixed(2);

        var d_max=((P*a*12*b*12*((a*12)+(2*b*12))*Math.sqrt((3*a*12)*((a*12)+(2*b*12))))/(27*E*I*l*12));
        var D_max=d_max.toFixed(2);

        var d_a=(P*Math.pow((a*12), 2)*Math.pow((b*12), 2))/(3*E*I*l*12);
        var D_a=d_a.toFixed(2);

        var d_x=((P*b*12*x*12)/(6*E*I*l*12))*((Math.pow((l*12), 2))-(Math.pow((b*12), 2))-(Math.pow((x*12), 2)));
        var D_x=d_x.toFixed(2);

        var d_x2=((P*a*12*((l*12)-(x*12)))/(6*E*I*l*12))*((2*x*12*l*12)-(Math.pow((x*12), 2))-(Math.pow((a*12), 2)));
        var D_x2=d_x2.toFixed(2);

        var d_x1=((P*a*12*b*12*x_1*12)/(6*E*I*l*12))*((l*12)+(a*12));
        var D_x1=d_x1.toFixed(2);

        // Display Calculation Results
        document.getElementById("solution1").innerHTML = "Shear (V_1) = " + V_1 + " lbs";
        document.getElementById("solution2").innerHTML = "Shear (V_2) = " + V_2 + " lbs";
        document.getElementById("solution3").innerHTML = "Max Moment (at point of load) = " + M_max + " lb*ft";
        document.getElementById("solution4").innerHTML = "Moment at x = " + M_x + " lb*ft";
        document.getElementById("solution5").innerHTML = "Max Deflection = " + D_max + " in";
        document.getElementById("solution6").innerHTML = "Deflection at a (point of load) = " + D_a + " in";
        document.getElementById("solution7").innerHTML = "Deflection at x (when x < a) = " + D_x + " in";
        document.getElementById("solution8").innerHTML = "Deflection at x (when x > a) = " + D_x2 + " in";
        document.getElementById("solution9").innerHTML = "Deflection at x_1 = " + D_x1 + " in";
    }
</script>


{% endblock %}