{% extends 'layout.html' %}

{% block title %}
    Simple Support Beams
{% endblock %}

{% block main %}

<br>

<div class = heading>
    <h4>Simple Beams</h4>
    <p>Select a loading diagram to be directed to the appropriate calculations.</p>
</div>

<div class = "table">
    <div class="row">
        <a href="/simple1">
            <div class="column">
                <div class="container">
                    <img src="/static/1 - Uniformly Distributed Load.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Uniformly Distributed Load</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple2">
            <div class="column">
                <div class="container">
                    <img src="/static/2 - Load Increasing Uniformly to One End.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Load Increasing Uniformly to One End</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple3">
            <div class="column">
                <div class="container">
                    <img src="/static/3 - Load Increasing Uniformly to Center.png" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Load Increasing Uniformly to Center</div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="row">
        <a href="/simple4">
            <div class="column">
                <div class="container">
                    <img src="/static/4 - Uniform Load Partially Distributed.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Uniform Load Partially Distributed</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple5">
            <div class="column">
                <div class="container">
                    <img src="/static/5 - Uniform Load Partially Distributed at One End.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Uniform Load Partially Distributed at One End</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple6">
            <div class="column">
                <div class="container">
                    <img src="/static/6 - Uniform Load Partially Distributed at Each End.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Uniform Load Partially Distributed at Each End</div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="row">
        <a href="/simple7">
            <div class="column">
                <div class="container">
                    <img src="/static/7 - Concentrated Load at Center.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Concentrated Load at Center</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple8">
            <div class="column">
                <div class="container">
                    <img src="/static/8 - Concentrated Load at Any Point.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Concentrated Load at Any Point</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple9">
            <div class="column">
                <div class="container">
                    <img src="/static/9 - Two Equal Concentrated Loads Symmetrically Placed.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Two Equal Concentrated Loads Symmetically Placed</div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="row">
        <a href="/simple10">
            <div class="column">
                <div class="container">
                    <img src="/static/10 - Two Equal Concentrated Loads Unsymmetrically Placed.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Two Equal Concentrated Loads Unsymmetrically Placed</div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/simple11">
            <div class="column">
                <div class="container">
                    <img src="/static/11 - Two Unequal Concentrated Loads Unsymmetrically Placed.jpg" alt="Avatar" class="image" width="250" height="200" display="inline-block">
                    <div class="overlay">
                        <div class="text">Two Unequal Concentrated Loads Unsymmetrically Placed</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>



{% endblock %}