{% extends 'layout.html' %}

{% block title %}
    Simple Support Beams - 3
{% endblock %}

{% block main %}


<h3>Simple Beams</h3>
<h4>Load Increasing Uniformly to Center</h4>

<img src="/static/Image1-6.jpg" alt="Avatar" class="image2" width="300" height="400" display="inline-block">

<br><br>

<form>

    <label for="w" class="inlinelabel">w=</label>
    <input autofocus class="calc1" name="w" id="w" type="number">
    <label for="w" class="inlinelabel">lb/ft</label>

    <br><br>

    <label for="l" class="inlinelabel">l=</label>
    <input class="calc1" name="l" id="l" type="number">
    <label for="l" class="inlinelabel">ft</label>

    <br><br>

    <label for="x" class="inlinelabel">x=</label>
    <input class="calc1" name="x" id="x" type="number">
    <label for="x" class="inlinelabel">ft</label>

    <br><br>

    <label for="E" class="inlinelabel">E=</label>
    <input class="calc1" name="E" id="E" type="number">
    <label for="E" class="inlinelabel">psi</label>

    <br><br>

    <label for="I" class="inlinelabel">I=</label>
    <input class="calc1" name="I" id="I" type="number">
    <label for="I" class="inlinelabel">in^4</label>

    <br><br>

    <input type="button" onclick="calc_1()" value="Calculate">

    <br><br>

    <p id="solution1"></p>
    <p id="solution2"></p>
    <p id="solution3"></p>
    <p id="solution4"></p>
    <p id="solution5"></p>
    <p id="solution6"></p>

</form>

<script>
    // Pull values from user text input and calculate
    function calc_1() {
        var w=document.getElementById("w").value;
        var l=document.getElementById("l").value;
        var x=document.getElementById("x").value;
        var E=document.getElementById("E").value;
        var I=document.getElementById("I").value;

        var v=w/2;
        var V=v.toFixed(2);

        var v_x=(w/(2*(Math.pow(l, 2))))*((Math.pow(l, 2))-(4*Math.pow(x, 2)));
        var V_x=v_x.toFixed(2);

        var m_max=((w*l)/6);
        var M_max=m_max.toFixed(2);

        var m_x=w*x*(.5-((2*Math.pow(x, 2))/(3*Math.pow(l, 2))));
        var M_x=m_x.toFixed(2);

        var d_max=(((w/12)*(Math.pow((12*l), 3)))/(60*E*I));
        var D_max=d_max.toFixed(2);

        var d_x=((w*x)/(480*E*I*Math.pow((l*12), 2)))*(Math.pow(((5*l*l*12*12)-(4*x*x*12*12)), 2))
        var D_x=d_x.toFixed(2);

        // Display Calculation Results
        document.getElementById("solution1").innerHTML = "Shear (V) = " + V + " lbs";
        document.getElementById("solution2").innerHTML = "Shear at x (when x < l/2) = " + V_x + " lbs";
        document.getElementById("solution3").innerHTML = "Max Moment (at center) = " + M_max + " lb*ft";
        document.getElementById("solution4").innerHTML = "Moment at x (when x < l/2) = " + M_x + " lb*ft";
        document.getElementById("solution5").innerHTML = "Max Deflection (at center) = " + D_max + " in";
        document.getElementById("solution6").innerHTML = "Deflection at x = " + D_x + " in";
    }
</script>


{% endblock %}